# Database URI
SQLALCHEMY_DATABASE_URI = "sqlite:///database.db"
SCHEDULER_DATABASE_URI = "sqlite:///scheduler.db"

SOCKETIO_CORS_ALLOWED_ORIGINS = "*"

# Set cookie secret key
secret_key = "ChangeMe"

# Enable the admin account registration page
allow_admin_register = False

# Repository path
REPO_DIR = "repository"

# API access tokens
GITHUB_TOKEN = ""
