<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="[%d{dd-MM-YYYY HH:mm:ss}] [%style{%t}{bright,cyan}] [%style{%c{1}}{green}] [%level] - %msg%n" />
        </Console>

        <!-- Sentry -->
        <Sentry name="Sentry" />
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="info" />
            <AppenderRef ref="Sentry" level="error" />
        </Root>
    </Loggers>
</Configuration>