from sources.base_source_downloader import BaseSourceDownloader


class SourceDownloader(BaseSourceDownloader):
    def __init__(self, oscmeta, temp_dir, log):
        super().__init__(oscmeta, temp_dir, log)
        # new fields should be defined here
        # self.field_name = None

    def fetch_source_information(self):
        # Fetch source information for this source type
        # AKA, set the newly created fields
        pass

    def process_files(self):
        # Process files for this source type (it is mandatory to output an archive to self.archive_path)
        # AKA, make use of the newly created fields
        pass
