<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="viewport" content="width=device-width"/>

    <title>Admin</title>

    <!-- Halfmoon CSS -->
    <link href="/static/halfmoon/css/halfmoon-variables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/fa/css/all.min.css">
</head>
<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true"
      data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">

<div class="page-wrapper with-navbar with-sidebar" data-sidebar-type="overlayed-sm-and-down">

    <div class="sticky-alerts"></div>

    {% include 'admin/includes/navbar.html' %}

    <div class="sidebar-overlay" onclick="halfmoon.toggleSidebar()"></div>
    {% include 'admin/includes/sidebar.html' %}

    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Page wrapper with content-wrapper inside -->
        <div class="page-wrapper">
            <div class="content-wrapper">
                <!-- Container-fluid -->
                <div class="container-fluid">
                    <div class="content">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content wrapper end -->

</div>
<!-- Page wrapper end -->

<!-- Halfmoon JS -->
<script src="/static/halfmoon/js/halfmoon.min.js"></script>
</body>
</html>
