{% extends "admin/base.html" %}
{% block content %}
    <div class="content">
        <h1 class="content-title font-size-22"> <!-- font-size-22 = font-size: 2.2rem (22px) -->
            Debug
        </h1>
        <div class="row">
            <a href="{{ url_for("admin.debug_action", action="init_repo") }}" class="btn btn-danger" role="button">Initialize Repository</a>
            <a href="{{ url_for("admin.debug_action", action="pull_repo") }}" class="btn" role="button">Pull Remote</a>
            <a href="{{ url_for("admin.debug_action", action="update_index") }}" class="btn" role="button">Update Index</a>
            <a href="{{ url_for("admin.debug_action", action="reset_index") }}" class="btn" role="button">Reset Index</a>
        </div>
    </div>
{% endblock %}
