{% extends "admin/base.html" %}
{% block content %}
    <div class="content">
        <h1 class="content-title font-size-22"> <!-- font-size-22 = font-size: 2.2rem (22px) -->
            Status Log
        </h1>
        <div class="row">
            <textarea class="form-control" id="description" style="height: 600px; font-size: 16px; font-family: JetBrainsMono; resize: none;" readonly placeholder="Loading.."></textarea>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script>
        // refresh logs every second
        // very temporary solution, will be replaced with websockets
        setInterval(function() {
            $.ajax({
                url: '{{ url_for("admin.log_json") }}',
                type: 'GET',
                success: function (data) {
                    var logs = data;
                    var logText = "";
                    for (var i = 0; i < logs.length; i++) {
                        var log = logs[i];
                        logText += "[" + log.timestamp + "]: " + log.message + "\n";
                    }
                    $("#description").text(logText);

                    // scroll to bottom
                    $("#description").scrollTop($("#description")[0].scrollHeight);
                }
            });
        }, 1000);
    </script>
{% endblock %}
