{% extends "admin/base.html" %}
{% block content %}
    <div class="content">
        <h1 class="content-title font-size-22"> <!-- font-size-22 = font-size: 2.2rem (22px) -->
            Logs
        </h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>File</th>
                <th>Length</th>
                <th>Errors</th>
                <th>Creation Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for log_file in log_files %}
                <tr>
                    <th style="text-align: center"><i class="fa-solid fa-file-lines"></i></th>
                    <th>{{ log_file["name"] }}</th>
                    <th>{{ log_file["length"] }} Lines</th>
                    <th>{{ log_file["errors"] }}</th>
                    <td>{{ log_file["created"] }}</td>
                    <td><a href="{{ url_for("admin.log", file=log_file["name"]) }}" class="btn" type="button">Download</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
