{% extends "admin/base.html" %}
{% macro text_setting(title, key) %}
    <div class="form-group">
        <label for="{{ key }}">{{ title }}</label>
        <input type="text" class="form-control" id="{{ key }}" name="{{ key }}"
               value="{{ settings[key] }}">
    </div>
{% endmacro %}
{% block content %}
    <h1 class="content-title font-size-22">
        Settings
    </h1>
    <div class="content-body">
        <form action="{{ url_for('admin.settings') }}" method="post" enctype="multipart/form-data">
            {{ text_setting("Repository URL", "git_url") }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}
