{% macro page(title, icon, endpoint, pill=None, pill_plural="items") %}
    <a href="{{ url_for(endpoint) }}"
       class="sidebar-link sidebar-link-with-icon {% if request.endpoint == endpoint %}active{% endif %}">
        <span class="sidebar-icon"><i class="fa {{ icon }}" aria-hidden="true"></i></span>
        {{ title }}{% if pill %}<span class="badge badge-pill badge-danger" style="margin-left: 5px;">{{ pill }} {{ pill_plural }}</span>{% endif %}
    </a>
{% endmacro %}
{% macro category(title) %}
    <h5 class="sidebar-title">{{ title }}</h5>
    <div class="sidebar-divider"></div>
{% endmacro %}
<div class="sidebar">
    <div class="sidebar-menu">
        <a href="{{ url_for('admin.home') }}" class="sidebar-brand">
            Admin
        </a>
        <div class="sidebar-content">
            <div class="mt-10 font-size-12">
                Hello {{ current_user.username }}.
            </div>
        </div>
        {{ category('General') }}
        {{ page("Home", "fa-home", "admin.home") }}
        {{ page("Debug", "fa-bug", "admin.debug") }}
        {{ category('Moderation') }}
        {{ page("Moderation", "fa-gavel", "admin.moderation", notifications()["pending_moderation"], "pending") }}
        {{ category('Repository') }}
        {{ page("Applications", "fa-rectangle-list", "admin.apps") }}
        {{ category('System') }}
        {{ page("Users", "fa-users", "admin.users") }}
        {{ page("Jobs", "fa-bars-progress", "admin.jobs") }}
        {{ page("Log Files", "fa-folder-open", "admin.logs") }}
        {{ page("Settings", "fa-cog", "admin.settings") }}
    </div>
</div>
