<!DOCTYPE html>
<html lang="en">
<head>
    <title>Repository Manager</title>

    <style>
    </style>
</head>
<body>
    <p><img src="/static/assets/images/logo-text.png" alt="Repository Manager Logo" height="150"></p>
    <p>Hello, I am an instance of Open Shop Channel Repository Manager. I currently hold {{ app_count }} apps and serve the repository "{{ repository_name }}" by "{{ repository_provider }}".</p>
    <p>I run off the Git repository over at {{ git_url }}</p>
    <p>My API can be accessed at {{ api_url }}api/v3/. Documentation for it can be found at <a href="https://docs.oscwii.org/repository-manager/api">docs.oscwii.org</a>.</p>
    <hr>
<pre style="color: #02abd4;">
████████████████████████████████████████████████████████████████████████████
██                                                                        ██
██                                                                        ██
██                                                                        ██
██            ▄▄▄▄▄                                      ▄▄▄▄▄            ██
██          ▄███████▄                                  ▄███████▄          ██
██          █████████                                  █████████          ██
██           ███████                                    ███████           ██
██              ▀                                          ▀              ██
██                                                                        ██
██                                                                        ██
██                                                                        ██
██                                  ▄██▄                                  ██
██                                ▄██████▄                                ██
██                              ▄██████████▄                              ██
██                                                                        ██
██                                                                        ██
██                                                                        ██
████████████████████████████████████████████████████████████████████████████
</pre>
<pre>
Danbo> Hello. I am Danbo. I login authorized users to Repository Manager's administration pages. Would you like to login?
<a href="{{ url_for("admin.login") }}">Yes Danbo, log me in.</a>
</pre>
</body>
</html>
